<!DOCTYPE html>
<html>

<head>
    <title>TravelMind AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

    <nav>
        <h2>TravelMind AI</h2>

        <button>
            Start Planning
        </button>
    </nav>


    <section class="hero">

        <h1>
            Plan Your Perfect Trip With AI
        </h1>

        <p>
            Create personalized road trips with smart routes,
            budgets, weather, and hidden gems.
        </p>

        <button class="main-button">
            Create My Trip
        </button>

    </section>


    <section class="features">

        <div class="card">
            <h3>🤖 AI Planning</h3>
            <p>
                Generate personalized itineraries.
            </p>
        </div>


        <div class="card">
            <h3>🗺 Smart Routes</h3>
            <p>
                Find the best route and stops.
            </p>
        </div>


        <div class="card">
            <h3>💰 Budget Control</h3>
            <p>
                Estimate fuel, hotels, and activities.
            </p>
        </div>


    </section>


</body>

</html>