<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | TravelMind AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">

</head>

<body>

    <nav>

        <h2>🌍 TravelMind AI</h2>

        <div>
            {% if logged_in %}

            <span class="welcome-user">

                👋 {{ username }}

            </span>

            <a href="/trips">
                <button>My Trips</button>
            </a>

            <a href="/logout">
                <button class="logout-button">
                    Logout
                </button>
            </a>

            {% else %}

            <a href="/register">
                <button>Register</button>
            </a>

            <a href="/login">
                <button>Login</button>
            </a>

            {% endif %}

        </div>

    </nav>

    <div class="auth-container">

        <div class="auth-card">

            <h1>Welcome Back</h1>

            <p class="auth-subtitle">

                Login to continue planning your adventures.

            </p>

            <form action="/login" method="POST">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    required
                    placeholder="Enter your email"
                >

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    required
                    placeholder="Enter your password"
                >

                <button
                    type="submit"
                    class="auth-button"
                >
                    Login
                </button>

            </form>

            <p class="auth-footer">

                Don't have an account?

                <a href="/register">

                    Register here

                </a>

            </p>

        </div>

    </div>

</body>

</html>