<!DOCTYPE html>

<html>

<head>

    <title>{{ trip.destination }} Trip</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='../static/css/style.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

</head>

<body>

<nav>

    <a href="{{ url_for('main.home') }}" style="text-decoration: none; color: #000;">
        <h2>
            TravelMind AI
        </h2>
    </a>

    <div>
            {% if logged_in %}

            <span class="welcome-user" style="margin-right: 15px;">

                👋 {{ username }}

            </span>

            <a href="{{ url_for('account.account_page') }}">
                <button class="logout-button">
                    👤 Account
                </button>
            </a>

            {% else %}

            <a href="/register">
                <button class="logout-button">Register</button>
            </a>

            <a href="/login">
                <button class="logout-button">Login</button>
            </a>

            {% endif %}

        </div>

</nav>

{% if trip.image_url %}

<img 
src="{{ trip.image_url }}"
class="trip-result-image"
>

{% endif %}

{% set origin = trip.origin %}
{% set destination = trip.destination %}
{% set days = trip.days %}
{% set adults = trip.adults %}
{% set children = trip.children %}
{% set budget = trip.budget %}
{% set trip_plan = trip.trip_plan %}
{% set weather_forecast = weather %}
{% include "_trip_details.html" %}
{% include "components/_ai_chat.html" %}

{% set map_locations = trip.map_locations %}
{% set route_coordinates = trip.route_coordinates %}

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>


<script>

const locations = {{ map_locations | tojson }};

const route = {{ route_coordinates | tojson }};


var map = L.map("trip-map");


L.tileLayer(
    "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    {
        attribution:"© OpenStreetMap contributors"
    }
).addTo(map);



var bounds = [];

const gasIcon = L.icon({

    iconUrl:
    "https://cdn-icons-png.flaticon.com/512/2830/2830306.png",

    iconSize:
    [35,35],

    iconAnchor:
    [17,35],

    popupAnchor:
    [0,-35]

});


// Mark locations

locations.forEach(function(location){


    let popup;


    if(location.type === "gas"){

        popup = `
        ⛽ <b>${location.place}</b><br><br>

        ${location.activity}
        `;

    }

    else{

        popup = `
        <b>Day ${location.day}</b><br>

        ${location.time}<br><br>

        <b>${location.place}</b><br>

        ${location.activity}
        `;

    }



    let markerOptions = {};


    if(location.type === "gas"){

        markerOptions.icon = gasIcon;

    }


    L.marker(

        [
            location.lat,
            location.lon
        ],

        markerOptions

    )

    .addTo(map)

    .bindPopup(
        popup
    );


    bounds.push(
        [
            location.lat,
            location.lon
        ]
    );


});


// Road route

if(route.length > 1){

    L.polyline(
        route,
        {
            color:"#2563eb",
            weight:5
        }
    ).addTo(map);

}



// Zoom

if(bounds.length > 0){

    map.fitBounds(
        bounds,
        {
            padding:[40,40]
        }
    );

}


</script>

</body>

</html>