<!DOCTYPE html>

<html>

<head>

    <title>{{ trip.destination }} Trip</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

    <h2>TravelMind AI 🌎</h2>

    <div>
            {% if logged_in %}

            <span class="welcome-user" style="margin-right: 15px;">

                👋 {{ username }}

            </span>

            <a href="{{ url_for('account.account_page') }}">
                <button class="logout-button">
                    👤 Account
                </button>
            </a>

            {% else %}

            <a href="/register">
                <button class="logout-button">Register</button>
            </a>

            <a href="/login">
                <button class="logout-button">Login</button>
            </a>

            {% endif %}

        </div>

</nav>

{% set origin = trip.origin %}
{% set destination = trip.destination %}
{% set days = trip.days %}
{% set adults = trip.adults %}
{% set children = trip.children %}
{% set budget = trip.budget %}
{% set trip_plan = trip.trip_plan %}

{% include "_trip_details.html" %}

</body>

</html>